@import './variables.scss';

header{
    background: $light-blue;
    display: flex;
    z-index: 2;
    position: relative;
}

.page-title{
    background: $blue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-film-button-wrapper{
    display: flex;
    align-items: center;

    .add-film-button{
        display: flex;
        align-items: center;
        cursor: pointer;

        .add-circle{
            display: inline-block;
            background: url('../images/add-circle.svg');
            background-size: contain;
            transform: rotate(0deg);
            transition: transform 0.3s linear 0s;
        }
        .add-text{
            color: $white;
        }
    }
}

@media screen and (min-width: 1025px){
    header{
        height: 7.15vw;
    }
    
    .page-title{
        width: 19.15vw;
        font-size: 1.9vw;
        font-weight: 400;
    }
    
    .add-film-button-wrapper{
        padding: 0 0 0 4.7vw;
    
        .add-film-button{
            padding: 0.5vw;
    
            .add-circle{
                width: 2.08vw;
                height: 2.08vw;
                margin-right: 0.8vw;
            }
            .add-text{
                font-size: 0.84vw;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    header{
        height: 9vw;
    }
    
    .page-title{
        width: 17vw;
        font-size: 2vw;
        font-weight: 400;
    }
    
    .add-film-button-wrapper{
        padding: 0 0 0 4vw;
    
        .add-film-button{
            padding: 0.5vw;
    
            .add-circle{
                width: 2.8vw;
                height: 2.8vw ;
                margin-right: 1.3vw;
            }
            .add-text{
                font-size: 1.3vw;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
    }
    
    .page-title{
        padding: 2vw;
        font-size: 3.5vw;
        font-weight: 400;
    }
    
    .add-film-button-wrapper{
        justify-content: center;
        padding: 3vw 0;
    
        .add-film-button{
            padding: 0.5vw;
    
            .add-circle{
                width: 6vw;
                height: 6vw;
                margin-right: 2vw;
            }
            .add-text{
                font-size: 3vw;
                font-weight: 600;
            }
        }
    }
}

.add-film-checkbox:checked ~* .add-circle{
    transform: rotate(45deg);
}

.add-film-checkbox:checked ~* .add-film-form-wrapper{
    max-height: 250vh;
}