$light-blue: rgb(111, 205, 255);
$blue: rgb(81, 175, 225);
$white: rgb(255, 255, 255);
$grey: rgb(228, 237, 244);
$black: rgb(1, 1, 1);
$pink: rgb(255, 126, 112);
$dark-grey: rgba(95, 95, 95, 0.5);
$block-radius: 0.4vw;
$add-block-radius: 0 0 0.4vw 0.4vw;